body{
	min-width: 0px;
}
.b-submenu {
    border-top: 1px solid #cecece;
}
.b-submenu ul {
    list-style: none;
    border-bottom: 1px solid #cecece;
    padding-left: 0px;
}
.b-submenu .lione {
    background-color: #efefef;
    width: 100px;
    color: #535353;
    cursor: default;
    text-align: right;
}
.b-submenu .lione:HOVER{
	font-weight: 500;
	text-decoration: none;
}
.b-submenu li.click-style{
	color: #e33;
	text-decoration: underline;
	border-radius: 2px;
	font-weight: 600;
}

.b-submenu li {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #0055b1f2;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    border-radius: 2px;
    cursor: pointer;
}
.b-submenu li:HOVER{
	transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
	font-weight: 600;
	text-decoration: underline;
}

th,td{
	min-width: 35px;
}
.width-800{
	width:800px;
}
.width-50{
	width: 50px;
}
.width-100{
	width: 100px;
}
.width-200{
	width: 200px;
}
.width-300{
	width: 300px;
}
.width-400{
	width: 400px;
}
.table-hover p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.body-content {
    margin-top: 10px;
    padding-bottom: 20px;
/*     padding-left: 10px; */
}
.red{
	color: red;
}
.basi tr td{
	margin-top: 10px;
	padding: 3px;
}
.font-i{
	width: 15px;
	text-align: center;
	border: 2px solid;
	border-radius: 50%;
	margin-right: 3px;
}
.pro-param{
	margin-left: 10px;
	padding: 10px;
}
.button-noborder{
	border: 0px;
	text-decoration: underline;
	float: right;
	display: inline-block;	
	line-height: 30px;
	color:#000dbf;
	padding-right: 10px;
	cursor:pointer;
}
.display-flow-root{
	display:  flow-root;
}
.display-block{
/* 	float: left; */
	display: inline-block;
}
.parm{
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	padding-bottom: 20px;
}
.l-margin-20{
	margin: 20px 20px;
}
.button-noborder:HOVER {
	font-size:16px;
}
.pro-param{
	margin-top: 10px;
	display: table;
	width: 90%;
}
.line-height-30{
	line-height: 30px;
}
.pro-param table{
	margin-left: 10px;
}
.pro-param td{
	line-height: 25px;
	font-size: 16px;
	margin-top: 10px;
	padding-right: 10px;
	text-align: left;
}
.pro-param-input{
	padding: 2px;
	border-radius: 2px;
	border: 1px solid  #888;
	height: 19px;
	font-size: 14px;
}
.height-25{
	height: 25px;
}
.height-100{
	height: 100px;
}
.background-hui{
	background-color: #cccccc;
    padding-left: 5px;
    border: 1px solid #d2d2d2;
	border-radius: 2px;
	margin: 0 -1px;
}
.cursor-def{
	cursor: default;
}
.custom-content{
	z-index: 1000;
}
.back{
	color: red;
}
.param-head-c{
	border-bottom: 1px solid #d2d2d2;
	margin-left: -20px;
	padding: 5px 20px;
}
.file-btn {
    width: 80px;
    height: 50px;
}
.imgInfo td{
	line-height: 20px;
    font-size: 12px;
    margin-top: 1px;
    padding-right: 0px;
    text-align: left;
    min-width: 25px;
}
.imgInfo{
	background-color: #FFFFFF;
	position: absolute;
	display: none;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}

.iconimg{
	width: 40px;
	height: 40px;
	
	display: inline-block;
	margin-bottom: -15px;
}
.iconimg:hover{
	width: 60px;
	height: 60px;
}
b{
	margin-right: 5px;
}
[v-cloak] {
    display: none;
}